@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
  --color-dark: #1A1A1A;
  --color-light: #F5F5F5;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: sans-serif;
}
